<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>form}}
        <div class="panels-container">
            <div class="panel left-panel">
                {{>navigateToSignUp}}
                <img src="img/log.svg" class="image" alt="">
            </div>
            <div class="panel right-panel">
                {{>navigateToSignIn}}
                <img src="img/register.svg" class="image" alt="">
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>