<div class="content">
    <h3>New Here ?</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos sapiente quibusdam magni qui saepe! Voluptatibus voluptatem, unde iusto laudantium eum animi? Nemo, atque cupiditate illo aspernatur fugit voluptatum incidunt exercitationem?</p>
    <button class="btn transparent" id="sign-up-btn">Sign up</button>
</div>