<div class="content">
    <h3>One of Us ?</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos sapiente quibusdam magni qui saepe! Voluptatibus voluptatem, unde iusto laudantium eum animi? Nemo, atque cupiditate illo aspernatur fugit voluptatum incidunt exercitationem?</p>
    <button class="btn transparent" id="sign-in-btn">Sign in</button>
</div>