 <form action="/fun" method="POST" class="sign-up-form">
    <div class="media">
        <h2 class="title signup">Sign Up</h2>
        <div class="input-field media_inner">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" name="username">
        </div>
        <div class="input-field media_inner">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Email" name="email">
        </div>
        <div class="input-field media_inner">
            <i class="fas fa-phone"></i>
            <input type="number" placeholder="Phone" name="phone">
        </div>
        <div class="input-field media_inner">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password">
        </div>
        <div class="input-field media_inner">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Confirm Password" name="cpassword">
        </div>
    </div>
    <div class="media_second">
        <input type="submit" value="Sign up" class="btn solid">
    </div>
</form>